@model List<Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach(var super in Model)
{
    <a asp-action="Details" asp-route-id="@super.Id">@super.Name</a> <br />
}