@model List<Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var super in Model)
{
    <p>
        <a asp-action="Details" asp-route-id="@super.Id">@super.Name</a>
        <a asp-action="Edit" asp-route-id="@super.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@super.Id">Delete</a> <br />
    </p>
}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <figure class="figure text-center">
                <img class="img-fluid mx-auto d-block" src="~/images/greenlantern.jpg" alt="Green Lantern" />
                <figcaption class="figure-caption text-center">The Greatest Superhero</figcaption>
            </figure>
        </div>
        <div class="col"></div>
    </div>
</div>

