@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out the superheroes <a asp-controller="Superhero" asp-action="Index">here!</a></p>
</div>
